
/**
 * Style CSS
 *
 * This contains the general styles used in the whole app
 */

/* Import font from Google APIs */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");


/**
 * HTML Body
 */

body {
    font-family: "Nunito", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}


/**
 * Cheenie - Layout - Container CSS
 */

/* Container on screens that has a width >= 900px */
@media screen and (min-width: 900px) {
    .container {
        width: 850px;
        max-width: 850px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
