
/**
 * KalendaryoJS -> src -> Index CSS
 *
 * This contains the specific styles for Index CSS
 */


/**
 * Kalendaryo
 */

/* Classes for Kalendaryo Trigger */
.dropdown.kalendaryo > .dropdown-trigger {
    justify-content: space-between;             /* Justify Content (General) */
    -webkit-justify-content: space-between;     /* Justify Content support for Chrome and Safari */
    -moz-justify-content: space-between;        /* Justify Content support for Mozilla */
}
.dropdown.kalendaryo > a.dropdown-trigger {
    font-weight: normal;
    text-align: left;
    height: 36px;
}
.dropdown.kalendaryo > a.dropdown-trigger,
.dropdown.kalendaryo > a.dropdown-trigger:hover,
.dropdown.kalendaryo > a.dropdown-trigger:active {
    color: var(--cheenie-dropdown-trigger-color);
}
.dropdown.kalendaryo > a.dropdown-trigger,
.dropdown.kalendaryo > a.dropdown-trigger h6 {
    font-size: 0.75rem;
}

/* Classes for Kalendaryo Content */
.dropdown.kalendaryo > .dropdown-content {
    min-width: 250px;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-header + table.kalendaryo-table {
    margin-top: 12px;
}

/* Kalendaryo Content on screens that has a width <= 434px */
@media screen and (max-width: 434px) {
    .dropdown.kalendaryo > .dropdown-content {
        min-width: 0;
    }
}

/* Classes for Kalendaryo Content Header */
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-header {
    display: flex;                              /* Display Flex (General) */
    display: -webkit-flex;                      /* Display Flex support for Safari */

    align-items: center;                        /* Align Items (General) */
    -webkit-align-items: center;                /* Align Items support for Safari */

    justify-content: space-between;             /* Justify Content (General) */
    -webkit-justify-content: space-between;     /* Justify Content support for Chrome and Safari */
    -moz-justify-content: space-between;        /* Justify Content support for Mozilla */
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-header .button {
    height: 24px;
    padding-left: 4px;
    padding-right: 4px;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-header .button.kalendaryo-today {
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-header > a.kalendaryo-period {
    padding: 2px;
    border: 1px dashed transparent;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-header > a.kalendaryo-period:hover {
    border-color: hsl(0, 0%, 50%);
}

/* Kalendaryo Content Header on screens that has a width <= 434px */
@media screen and (max-width: 434px) {
    .dropdown.kalendaryo > .dropdown-content > .kalendaryo-header .button:not(.kalendaryo-today) {
        padding-left: 0;
        padding-right: 0;
    }
    .dropdown.kalendaryo > .dropdown-content > .kalendaryo-header .button.kalendaryo-today {
        text-indent: -9999px;
        line-height: 0;
    }
    .dropdown.kalendaryo > .dropdown-content > .kalendaryo-header .button.kalendaryo-today:after {
        content: url(./icons/icons8-calendar/666666/16x16.png);
        text-indent: 0;
    }
    .dropdown.kalendaryo > .dropdown-content > .kalendaryo-header > a.kalendaryo-period > h6 {
        font-size: 0.75rem;
    }
}

/* Classes for Kalendaryo Content Selection */
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection {
    display: flex;                              /* Display Flex (General) */
    display: -webkit-flex;                      /* Display Flex support for Safari */

    align-items: center;                        /* Align Items (General) */
    -webkit-align-items: center;                /* Align Items support for Safari */

    margin-top: -12px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -12px;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection a.kalendaryo-item {
    color: #4d4d4d;
    text-align: center;
    display: block;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection a.kalendaryo-item:hover {
    background-color: hsl(0, 0%, 80%);
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection a.kalendaryo-item.is-active {
    color: white;
    font-weight: bold;
    background-color: var(--cheenie-primary-color);
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection > .kalendaryo-month,
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection > .kalendaryo-year {
    max-height: 200px;
    overflow-y: auto;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection > .kalendaryo-month {
    width: 60%;
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection > .kalendaryo-month:not(:last-child) {
    border-right: 1px solid hsl(0, 0%, 80%);
}
.dropdown.kalendaryo > .dropdown-content > .kalendaryo-selection > .kalendaryo-year {
    width: 40%;
}

/* Classes for Kalendaryo Content Table */
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table {
    width: 100%;
}
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table th,
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table td {
    padding: 4px;
}
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th,
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > tbody > tr > td {
    font-size: 0.75rem;
    text-align: center;
}
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > tbody > tr > td > a {
    color: black;
    width: 24px;
    height: 24px;

    display: inline-flex;                       /* Display Inline Flex (General) */
    display: -webkit-inline-flex;               /* Display Inline Flex support for Safari */

    align-items: center;                        /* Align Items (General) */
    -webkit-align-items: center;                /* Align Items support for Safari */

    justify-content: center;                    /* Justify Content (General) */
    -webkit-justify-content: center;            /* Justify Content support for Chrome and Safari */
    -moz-justify-content: center;               /* Justify Content support for Mozilla */

    border-radius: 50%;
}
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > tbody > tr > td > a:hover,
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > tbody > tr > td > a:active {
    background-color: hsl(0, 0%, 90%);
}
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > tbody > tr > td > a.is-today {
    background-color: hsl(0, 0%, 80%);
}
.dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > tbody > tr > td > a.is-active {
    color: white;
    font-weight: bold;
    background-color: var(--cheenie-primary-color);
}

/* Kalendaryo Content Table on screens that has a width <= 434px */
@media screen and (max-width: 434px) {
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table th,
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table td {
        padding: 0;
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th {
        visibility: hidden;
        line-height: 0;
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:after {
        display: block;
        visibility: visible;
        line-height: initial;
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:nth-child(1):after {    /* Sunday Header */
        content: "Su";
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:nth-child(2):after {    /* Monday Header */
        content: "M";
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:nth-child(3):after {    /* Tuesday Header */
        content: "Tu";
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:nth-child(4):after {    /* Wednesday Header */
        content: "W";
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:nth-child(5):after {    /* Thursday Header */
        content: "Th";
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:nth-child(6):after {    /* Friday Header */
        content: "F";
    }
    .dropdown.kalendaryo > .dropdown-content > table.kalendaryo-table > thead > tr > th:nth-child(7):after {    /* Saturday Header */
        content: "Sa";
    }
}


/**
 * MODIFIER: Colors
 */

/* COLOR: Primary */
.dropdown.kalendaryo.is-primary > a.dropdown-trigger {
    border-color: var(--cheenie-primary-color);
}
.dropdown.kalendaryo.is-primary > a.dropdown-trigger:hover {
    border-color: var(--cheenie-primary-color-hovered);
}
.dropdown.kalendaryo.is-primary > a.dropdown-trigger:active {
    border-color: var(--cheenie-primary-color-active);
}

/* COLOR: Secondary */
.dropdown.kalendaryo.is-secondary > a.dropdown-trigger {
    border-color: var(--cheenie-secondary-color);
}
.dropdown.kalendaryo.is-secondary > a.dropdown-trigger:hover {
    border-color: var(--cheenie-secondary-color-hovered);
}
.dropdown.kalendaryo.is-secondary > a.dropdown-trigger:active {
    border-color: var(--cheenie-secondary-color-active);
}

/* COLOR: Light */
.dropdown.kalendaryo.is-light > a.dropdown-trigger {
    border-color: var(--cheenie-light-color);
}
.dropdown.kalendaryo.is-light > a.dropdown-trigger:hover {
    border-color: var(--cheenie-light-color-hovered);
}
.dropdown.kalendaryo.is-light > a.dropdown-trigger:active {
    border-color: var(--cheenie-light-color-active);
}

/* COLOR: Info */
.dropdown.kalendaryo.is-info > a.dropdown-trigger {
    border-color: var(--cheenie-info-color);
}
.dropdown.kalendaryo.is-info > a.dropdown-trigger:hover {
    border-color: var(--cheenie-info-color-hovered);
}
.dropdown.kalendaryo.is-info > a.dropdown-trigger:active {
    border-color: var(--cheenie-info-color-active);
}

/* COLOR: Success */
.dropdown.kalendaryo.is-success > a.dropdown-trigger {
    border-color: var(--cheenie-success-color);
}
.dropdown.kalendaryo.is-success > a.dropdown-trigger:hover {
    border-color: var(--cheenie-success-color-hovered);
}
.dropdown.kalendaryo.is-success > a.dropdown-trigger:active {
    border-color: var(--cheenie-success-color-active);
}

/* COLOR: Warning */
.dropdown.kalendaryo.is-warning > a.dropdown-trigger {
    border-color: var(--cheenie-warning-color);
}
.dropdown.kalendaryo.is-warning > a.dropdown-trigger:hover {
    border-color: var(--cheenie-warning-color-hovered);
}
.dropdown.kalendaryo.is-warning > a.dropdown-trigger:active {
    border-color: var(--cheenie-warning-color-active);
}

/* COLOR: Danger */
.dropdown.kalendaryo.is-danger > a.dropdown-trigger {
    border-color: var(--cheenie-danger-color);
}
.dropdown.kalendaryo.is-danger > a.dropdown-trigger:hover {
    border-color: var(--cheenie-danger-color-hovered);
}
.dropdown.kalendaryo.is-danger > a.dropdown-trigger:active {
    border-color: var(--cheenie-danger-color-active);
}
